Source: lliurex-maker
Section: admin
Priority: optional
Maintainer: Raul Rodrigo Segura <raurodse@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: http://lliurex.net

Package: lliurex-maker
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, iso-maker
Description: Data package for build lliurex-iso
 Configuration files from lliurex and flavours
